{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;        
        }
    </style>
    <div class="m-0">
        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-3 m-0 p-0"></div>  
            <div class="col-sm-6 m-0 p-0">
                <h6  class="bg-info text-light p-2 m-0 text-center">Cost Centre Creation</h6>
                <form class="p-5" style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'alter_cost_create' %}"  autocomplete="off">
                    {% csrf_token %}
                    <div class="p-3">
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a">Name</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control"   name="cname"   placeholder=""></div>
                            <div class="col-sm-4 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="b">Alias</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control"  name="calias" id="b" placeholder=""></div> 
                            <div class="col-sm-7 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="b">Under</label></div>
                            <div class="col-sm-6 m-0 p-0"> 
                                <select name="cunder" id="i" class="form-control">
                                    <option>_Select_</option>
                                    <option value="primary">Primary</option>
                                    {% for p in ccst %}
                                    <option value="{{p.c_name}}">{{p.c_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-7 m-0 p-0"></div>
                        </div>
                    </div>
                    <div class="enter w-100 py-4"><button class="btn btn-info w-15">CREATE</button></div>  
                </form>
            </div>
        <div class="col-sm-5 m-0 p-0"></div>
    </div>  
{% endblock %}