{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 600px;
          margin: auto;
          text-align: center;
          font-family: arial;
        }
        
        .price {
          color: white;
          font-size: 20px;
        }
        
        .card button {
          border: none;
          outline: 0;
          padding: 12px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 40%;
          font-size: 18px;
        }
        .card button:hover {
          opacity: 0.7;
        }
        </style>

        <div class="card"><br>
          <center>
            {% for i in tally %}
              {{i.name}}
            {% endfor %}
            <hr>
          </center>
      
          <br>
          <p class="price">Currency <span>{% for i in tally %} {{i.currency_symbol}} {% endfor %} </span> exists by defualt for the company.</p>
            
          <p>Do you want to alter currency <span>{% for i in tally %} {{i.currency_symbol}} {% endfor %}</span> or create a new currency ?</p>
          <div>
            <a href="{% url 'c_create' %}" class="btn btn-outline-warning w-15">C:Create New</a>&nbsp;&nbsp;&nbsp;
              <a href="{% url 'c_alter' %}" class="btn btn-outline-info w-15">A:Alter Existing </a>
          </div><br><br><br>
        </div>
        
{% endblock %}