{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;   
        }

        .form-popup {
        visibility: hidden;       
        position: fixed;
        top: 230px;
        right: 27px;
        background-color: rgb(216, 232, 238); 
        border: 1px solid #f1f1f1;
        z-index: 9;
        width: 300px;
        height: 200px;
      
      }
    
    </style>
    
    <div>
        <div style="margin-left:10% ;margin-top: 10%;">
            <div  style="width: 90%;">

        <h6  class="bg-info text-light p-2 m-0 text-left">Employee Creation</h6>

            <form name="myForm" id="" action="employee_creation" onsubmit="validateForm()" method="post" class="p-5" style="background-color:rgba(0,0,0,.4);">
                {% csrf_token %}


            <div class="row container-fluid  p-2 m-0">
                <div class="col-sm-2 m-0 p-0"> <label for="a">Name</label></div>
                <div class="col-sm-3 m-0 p-0"><input type="text" class="form-control" id="a" placeholder="" name="name" autocomplete="off"
                    onblur="passvalues()"></div>
                <div class="col-sm-7 m-0 p-0"></div>
            </div>

            
            <div class="row container-fluid  p-2 m-0">
                <div class="col-sm-2 m-0 p-0"> <label for="b">Alias</label></div>
                <div class="col-sm-3 m-0 p-0"> 
                <input type="text" class="form-control" id="b" placeholder="" name="alias" autocomplete="off"
                onblur="passvaluesAlias()"></div>
                <div class="col-sm-7 m-0 p-0"></div>
            </div>

            <div class="row container-fluid  p-2 m-0">
                <div class="col-sm-2 m-0 p-0"> <label for="Under">Under</label></div>
                <div class="col-sm-3 m-0 p-0"> 
                <input type="text" class="form-control" id="primary-text" onfocus="showList()" autocomplete="off" placeholder="" value="Primary"  name="under_name"></div>
                <div class="col-sm-7 m-0 p-0"></div>
            </div>

            <div class="row container-fluid  p-2 m-0">
                <div class="col-sm-2 m-0 p-0"> <label for="date">Date of joining</label></div>
                <div class="col-sm-3 m-0 p-0"><input type="date" class="form-control" id="date" placeholder="" name="doj"></div>
                <div class="col-sm-7 m-0 p-0"></div>
            </div>
            <div class="row container-fluid  p-2 m-0">
                <div class="col-sm-2 m-0 p-0"> <label for="salary">Define salary details</label></div>
                <div class="col-sm-3 m-0 p-0">
                    <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);" 
                     name="salary" id="salary" class="form-control">
                        <option value="No">No</option> 
                        <option value="/salary_details">Yes</option>
                    </select> <br><br>
                    <div class="col-sm-7 m-0 p-0"></div>
                </div>
            </div>



            <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                    <h6 class="text-center"><u> <b> GST Registration Details </b> </u></h6> <br>
                    
                    <div class="row container-fluid  p-2" id="e">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Employee Number</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2" id="a_t">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Designation</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Function</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" value="01-12-2022" class="form-control"></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Location</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="d">Gender</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select name="Activate" id="e" class="form-control">
                                <option value="">--Select--</option>
                                <option value="">Male</option> 
                                <option value="">Female</option>
                                <option value="">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Date of Birth</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="date" class="form-control" id="c" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Blood Group</label></div>
                        <div class="col-sm-6 m-0 p-0"><select name="bld_grp" id="blood" class="form-control">
                            <option value="">--Select--</option> 
                            <option value="A+ve">A+ve</option> 
                            <option value="B+ve">B+ve</option> 
                            <option value="O+ve">O+ve</option> 
                            <option value="AB+ve">AB+ve</option>
                            <option value="A-ve">A-ve</option>
                            <option value="B-ve">B-ve</option>   
                            <option value="AB-ve">AB-ve</option> 
                            <option value="O-ve">O-ve</option> 
                            
                        </select></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Fathers Name</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Spouse Name</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Address</label></div>
                        <div class="col-sm-6 m-0 p-0"><textarea name="" id="" class="form-control"  rows="4"></textarea></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Phone Number</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="e">Email</label></div>
                        <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                    </div><br>
                </div>
            
            <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                <h5 class="text-center"> <u> <b> Statutary Details </b></u></h5>
                <div class="row container-fluid  p-0">
                    <div class="col-sm-6 m-0 p-0"></div>
                    <div class="col-sm-6 m-0 p-0"></div>
                </div>
                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="e">Provide Bank Details</label></div>
                    <div class="col-sm-6 m-0 p-0"><select  onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);" 
                        name="bank" id="bank_id" class="form-control" onchange="getBank()">
                            <option value="No">No</option> 
                            <option value="/bank">Yes</option>
                        </select></div>
                </div>

                <hr>
                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="e">Income Tax Number</label></div>
                    <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                </div><br>
                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="e">Adhar Number</label></div>
                    <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                </div><br>
                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="e">Universal Account Number(UAN)</label></div>
                    <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                </div><br>
                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="e">PF Account NUmber(PFN)</label></div>
                    <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                </div><br>
                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="e">PR Account Number(PRAN)</label></div>
                    <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                </div>
                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="e">ESI Number(ESIN)</label></div>
                    <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="c" placeholder=""></div>
                </div><br><br>
                

            </div>
        </div>
                
            <div class="enter w-100 py-4"><button class="btn btn-info w-15">CREATE</button></div>     
                
           
        </form>

    </div>  
        </div>
    </div>
    
    
    
    <div class="form-popup" id="list-div" >
  
        <h6 style="background-color:rgb(17, 169, 240) ;color:white">List of Employee Groups</h6>
    <hr >
    <div>
        <table >
        <tr >
            <td>
              <a href="emloyee_group_secondary"><button
                    type="submit"
                    style="color: black;margin-left: 310%; width: 10%"
                    class="custom-select-md form-control"
                  >
                    create
                  </button></a>
            </td>
        </tr>
    
        <tr>
          <td>    
    
            {% for l in grp %}
            <div onclick="hideList('{{l.under_name}}')" style="color: black;" >{{l.under_name}}</div>
            {% endfor %}
          </td>
        </tr>  
        
        </table>
    </div>
    
    
     </div>
    
                    
    
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                    
                    <script>
                          localStorage.clear();

                         document.getElementById("a").value = localStorage.getItem("name"); 

                         localStorage.clear();

                         document.getElementById("b").value = localStorage.getItem("alias");

                         localStorage.clear();
                          
                        function passvalues()
                        {
                            var name=document.getElementById("a").value;
                            //console.log(name);
                            localStorage.setItem("name", name);
                            var a=localStorage.getItem("name");
                            //console.log(a);
                        }

                        function passvaluesAlias()
                        {
                            var name=document.getElementById("b").value;
                            localStorage.setItem("alias",name);
                            var b=localStorage.getItem("alias")
                        }

                        function showList() {
                            document.getElementById("list-div").style.visibility = "visible";
                        }
                        function hideList(valueDIv) {
                            document.getElementById("primary-text").value=valueDIv;
                            document.getElementById("list-div").style.visibility = "hidden";
                        }
                        function validateForm(){

                            var x=document.forms["myForm"]["name"].value;
                            if (x==null || x=="")
                            {
                            alert("Name must be filled out");
                            return false;
                            }
                        }
                                
                    </script>
{% endblock %}