{% extends 'base.html' %}
{% block body %}
<style>
    .a label {
        position:relative;
        width:320px;
    }
    .vl {
        border-left: 6px solid rgb(5, 12, 5);
        height: 500px;
        margin-left: 600px;
        margin-bottom: 300px;

        
      }
      .form-popup {
        display: none;
        position: fixed;
        top: 180px;
        right: 15px;
        border: 1px solid #f1f1f1;
        z-index: 9;
        width: 300px;
        height: 600px;
      }
    
      .content a:hover {background-color: rgb(238, 167, 75);}
      
      /* Add styles to the form container */
      .form-container {
        max-width: 50px;
        height: 500px;
        padding: 10px;
      }
</style>
<script>
    function save(){
        document.getElementById("frmfeature").submit();
    }
 
  

    function myFunction() {
        compId= document.getElementById('compId').innerHTML
alert(compId);
        //get feature

        //document.getElementById('maintain_accounts').value='No'
    }
    
</script>
<body >
<div class="page-content">
 
    <div class="card radius-15" style="background-color: #243e54;">
        <div class="card-body">
            <div class="card-title">
                <!-- <h6 class="mb-0" style="margin-left: 480px;"><b>Company Created Successfully</b></h6> -->
            </div>
            <hr/>
            <h6>Company:&nbsp;&nbsp;{{ctg.name}}</h6>
            <!-- <div id="compId">{{ctg.id}}</div> -->
           

          
        <form action="{% url 'features' ctg.id %}" method="POST" id="frmfeature">
            {% csrf_token %}
            <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                        
                <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
                    <h6><b>Accounting</b></h6>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Maintain Accounts:</label></div>
                        <div class="col-sm-6 m-0 p-0">
                          <select style="background-color: #2f516f;color: white;"
                          name="maintain_accounts" id="maintain_accounts" onchange="save()" >
                          
                        {% if ft.maintain_accounts %}
                          <option value="Yes" selected >Yes</option>
                          <option value="No" >No</option>
                        {% else %}
                          <option value="Yes" >Yes</option>
                          <option value="No" selected>No</option>
                        {% endif %}
                         </select></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Bill-wise entry:</label></div>
                        <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;"
                              name="bill_wise_entry" id="bill_wise_entry" onchange="save()" >
                            {% if ft.bill_wise_entry %}
                              <option value="Yes" selected >Yes</option>
                              <option value="No" >No</option>
                            {% else %}
                              <option value="Yes" >Yes</option>
                              <option value="No" selected>No</option>
                            {% endif %}
                             </select></div>
                    </div>

                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Cost Centres:</label></div>
                        <div class="col-sm-6 m-0 p-0">
                            <select style="background-color: #2f516f;color: white;"  name="cost_centres" id="cost_centres" onchange="save()">
                            {% if ft.cost_centres %}
                              <option value="Yes" selected >Yes</option>
                              <option value="No" >No</option>
                            {% else %}
                              <option value="Yes" >Yes</option>
                              <option value="No" selected>No</option>
                            {% endif %}
                             </select></div>
                    </div>

                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Interest Calculation:</label></div>
                        <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;"
                              name="interest_calc" id="interest_calc" onchange="save()">
                            {% if ft.interest_calc %}
                              <option value="Yes" selected >Yes</option>
                              <option value="No" >No</option>
                            {% else %}
                              <option value="Yes" >Yes</option>
                              <option value="No" selected>No</option>
                            {% endif %}
                             </select></div>
                    </div>
                    <h6><b>Inventory</b></h6>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Maintain Inventory:</label></div>
                        <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;"  
                            name="maintain_inventory" id="maintain_inventory" onchange="save()">
                            {% if ft.maintain_inventory  %}
                            <option value="Yes" selected >Yes</option>
                            <option value="No" >No</option>
                          {% else %}
                            <option value="Yes" >Yes</option>
                            <option value="No" selected>No</option>
                          {% endif %}
                             </select></div>
                    </div>

                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Integrate Accounts with Inventory:</label></div>
                        <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
                             name="integrate_accounts" id="integrate_accounts" onchange="save()">
                            {% if ft.integrate_accounts %}
                            <option value="Yes" selected >Yes</option>
                            <option value="No" >No</option>
                          {% else %}
                            <option value="Yes" >Yes</option>
                            <option value="No" selected>No</option>
                          {% endif %}
                             </select></div>
                    </div>

                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Multiple Price Levels:</label></div>
                        <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;"
                              name="multiple_price_level" id="multiple_price_level" onchange="save()">
                            {% if ft.multiple_price_level %}
                            <option value="Yes" selected >Yes</option>
                            <option value="No" >No</option>
                          {% else %}
                            <option value="Yes" >Yes</option>
                            <option value="No" selected>No</option>
                          {% endif %}
                             </select></div>
                    </div>

                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Batches:</label></div>
                        <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
                             name="batches" id="batches" onchange="save()">
                            {% if ft.batches %}
                            <option value="Yes" selected >Yes</option>
                            <option value="No" >No</option>
                          {% else %}
                            <option value="Yes" >Yes</option>
                            <option value="No" selected>No</option>
                          {% endif %}
                             </select></div>
                    </div>

                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Maintain Expiry date for Batches:</label></div>
                        <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;"
                              name="expirydate_batches" id="expirydate_batches" onchange="save()">
                            {% if ft.expirydate_batches %}
                            <option value="Yes" selected >Yes</option>
                            <option value="No" >No</option>
                          {% else %}
                            <option value="Yes" >Yes</option>
                            <option value="No" selected>No</option>
                          {% endif %}
                             </select></div>
                    </div>

                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Job Order Processing:</label></div>
                        <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
                             name="joborder_processing" id="joborder_processing" onchange="save()">
                            {% if ft.joborder_processing  %}
                            <option value="Yes" selected >Yes</option>
                            <option value="No" >No</option>
                          {% else %}
                            <option value="Yes" >Yes</option>
                            <option value="No" selected>No</option>
                          {% endif %}
                             </select></div>
                    </div>

                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Cost Tracking:</label></div>
                        <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;"  
                            name="cost_tracking" id="cost_tracking" onchange="save()">
                            {% if ft.cost_tracking %}
                            <option value="Yes" selected >Yes</option>
                            <option value="No" >No</option>
                          {% else %}
                            <option value="Yes" >Yes</option>
                            <option value="No" selected>No</option>
                          {% endif %}
                             </select></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Job Costing:</label></div>
                        <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
                             name="job_costing" id="job_costing" onchange="save()">
                            {% if ft.job_costing %}
                            <option value="Yes" selected >Yes</option>
                            <option value="No" >No</option>
                          {% else %}
                            <option value="Yes" >Yes</option>
                            <option value="No" selected>No</option>
                          {% endif %}
                             </select></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Use Discount Column in Invoices:</label></div>
                        <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
                          name="discount_invoices" id="discount_invoices" onchange="save()">
                         {% if ft.discount_invoices %}
                         <option value="Yes" selected >Yes</option>
                         <option value="No" >No</option>
                       {% else %}
                         <option value="Yes" >Yes</option>
                         <option value="No" selected>No</option>
                       {% endif %}
                          </select></div>
                    </div>
                    <div class="row container-fluid  p-2">
                        <div class="col-sm-6 m-0 p-0"> <label for="empno">Use Seperate Actual and Billed Quantity Columns in Invoices:</label></div>
                        <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
                          name="Billed_Quantity" id="Billed_Quantity" onchange="save()">
                         {% if ft.Billed_Quantity  %}
                         <option value="Yes" selected >Yes</option>
                         <option value="No" >No</option>
                       {% else %}
                         <option value="Yes" >Yes</option>
                         <option value="No" selected>No</option>
                       {% endif %}
                          </select></div>
                    </div>



                    
                </div>

                <div class="col-sm-6 m-0 p-4" style=" border-right: 1px solid rgba(128, 128, 128, 0.6);">
<h6><b>Taxation</b></h6>
<div class="row container-fluid  p-2">
    <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Goods and Services Tax(GST):</label></div>
    <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
      name="gst" id="gst" onchange="save()">
     {% if ft.gst %}
     <option  value="Yes" selected >Yes</option>
     <option value="No" >No</option>
   {% else %}
     <option  value="Yes" >Yes</option>
     <option value="No" selected >No</option>
   {% endif %}
      </select></div>
</div>




<div class="row container-fluid  p-2">
    <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Tax Deducted at Source(TDS):</label></div>
    <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
      name="tds" id="tds" onchange="save()">
     {% if ft.tds %}
     <option value="Yes" selected >Yes</option>
     <option value="No" >No</option>
   {% else %}
     <option value="Yes" >Yes</option>
     <option value="No" selected>No</option>
   {% endif %}
      </select></div>
</div>

<div class="row container-fluid  p-2">
    <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Tax Collected at Source(TCS):</label></div>
    <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
      name="tcs" id="tcs" onchange="save()">
     {% if ft.tcs %}
     <option value="Yes" selected >Yes</option>
     <option value="No" >No</option>
   {% else %}
     <option value="Yes" >Yes</option>
     <option value="No" selected>No</option>
   {% endif %}
      </select></div>
</div>

<div class="row container-fluid  p-2">
    <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Value Added Tax(VAT):</label></div>
    <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
      name="vat" id="vat" onchange="save()">
     {% if ft.vat  %}
     <option value="Yes" selected >Yes</option>
     <option value="No" >No</option>
   {% else %}
     <option value="Yes" >Yes</option>
     <option value="No" selected>No</option>
   {% endif %}
      </select></div>
</div>

<div class="row container-fluid  p-2">
    <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Excise:</label></div>
    <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
      name="excise" id="excise" onchange="save()">
     {% if ft.excise  %}
     <option value="Yes" selected >Yes</option>
     <option value="No" >No</option>
   {% else %}
     <option value="Yes" >Yes</option>
     <option value="No" selected>No</option>
   {% endif %}
      </select></div>
</div>

<div class="row container-fluid  p-2">
    <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Service Tax:</label></div>
    <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
      name="servicetax" id="servicetax" onchange="save()">
     {% if ft.servicetax  %}
     <option value="Yes" selected >Yes</option>
     <option value="No" >No</option>
   {% else %}
     <option value="Yes" >Yes</option>
     <option value="No" selected>No</option>
   {% endif %}
      </select></div>
</div>

<h6><b>Payroll</b></h6>
<div class="row container-fluid  p-2">
    <div class="col-sm-6 m-0 p-0"> <label for="empno">Maintain Payroll:</label></div>
    <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
      name="payroll" id="payroll" onchange="save()">
     {% if ft.payroll %}
     <option value="Yes" selected >Yes</option>
     <option value="No" >No</option>
   {% else %}
     <option value="Yes" >Yes</option>
     <option value="No" selected>No</option>
   {% endif %}
      </select></div>
</div>
<h6><b>Others</b></h6>
<div class="row container-fluid  p-2">
    <div class="col-sm-6 m-0 p-0"> <label for="empno">Enable Multiple Addresses:</label></div>
    <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
      name="multiple_addrss" id="multiple_addrss" onchange="save()">
     {% if ft.multiple_addrss %}
     <option value="Yes" selected >Yes</option>
     <option value="No" >No</option>
   {% else %}
     <option value="Yes" >Yes</option>
     <option value="No" selected>No</option>
   {% endif %}
      </select></div>
</div>
<div class="row container-fluid  p-2">
    <div class="col-sm-6 m-0 p-0"> <label for="empno">Mark Modified Vouchers:</label></div>
    <div class="col-sm-6 m-0 p-0"><select style="background-color: #2f516f;color: white;" 
      name="vouchers" id="vouchers" onchange="save()">
     {% if ft.vouchers %}
     <option value="Yes" selected >Yes</option>
     <option value="No" >No</option>
   {% else %}
     <option value="Yes" >Yes</option>
     <option value="No" selected>No</option>
   {% endif %}
      </select></div>
</div>
<!-- <input type="submit" value="sub"> -->
                    
        </div>
        
    </form>
    </div>
</div>
</body>

{% endblock %}