{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;        
        }
        .close {
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 25px;
            color: rgb(255, 255, 255);
            transform: rotate(45deg);
            cursor: pointer;
            text-decoration: none;
            
        }
    </style>
    <div class="m-0">
        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-3 m-0 p-0"></div>  
            <div class="col-sm-6 m-0 p-0">
                <a href="javascript:history.go(-1);" class="close">+</a>

                <h6  class="bg-info text-light p-2 m-0 text-left">GST Details</h6>
                <h6  class=" text-light p-2 m-0 text-center" style="background-color: rgba(0,0,0,.4);">GST Details for Company</h6>
                <form class="p-5" style="background-color:rgba(0,0,0,.4);" action="{% url 'gst_details_of_company' %}" method="post">
                    {% csrf_token %}
                    <div class="p-3">
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a">Taxability</label></div>
                            <div class="col-sm-6 m-0 p-0">
                                <select name="gta" id="i" class="form-control">
                                    <option value="Unknown">Unknown</option>
                                    <option value="Exempt">Exempt</option>
                                    <option value="Nill Rated">Nill Rated</option>
                                    <option value="Taxable">Taxable</option>
                                </select>
                            </div>
                            <div class="col-sm-4 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a"><b>Tax Type</b></label></div>
                            <div class="col-sm-6 m-0 p-0"><label for="a"><b>Rate</b></label></div>
                            <div class="col-sm-4 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a">Integrated Tax</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" name="git" class="form-control" id="d" placeholder="" value="0%"></div>
                            <div class="col-sm-4 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a">Cess</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" name="gce" class="form-control" id="d" placeholder="" value="0%"></div>
                            <div class="col-sm-4 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a"> Flood Cess</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" name="gfc" class="form-control" id="d" placeholder="" value="0%"></div>
                            <div class="col-sm-4 m-0 p-0"></div>
                        </div>   
                    </div>
                    <div class="enter w-100 py-4"><button class="btn btn-info w-15">CREATE</button></div>  
                </form>
            </div>
        <div class="col-sm-5 m-0 p-0"></div>
    </div>  
{% endblock %}