{% extends 'base.html' %}
    {% block body %}
        {% load static %}
        <style>
            .flexy{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        .form1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            
        }
        form{
            padding:30px;
        }
        .close {
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 25px;
            color: rgb(255, 255, 255);
            transform: rotate(45deg);
            cursor: pointer;
            text-decoration: none;
            
        }
        button{
            background-color:rgb(103, 175, 220) ;
            color:white;
            padding:10px 20px;
        }
    </style>

       <div class="row container-fluid  p-0">
        <div class="col-sm-3 m-0 p-0"></div>
        <div class="col-sm-6 m-0 p-0" style=" background-color:rgba(0,0,0,0.2);">
            <a href="javascript:history.go(-1);" class="close">+</a>
        <h6  class="bg-info text-light p-2">Currency creations</h6>
        <div class="row container-fluid">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form class="p-5" style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'load_alter_currency' %}"  autocomplete="off">
                {% csrf_token %}
                    <label for="a">Symbol</label>
                    <input type="text" class="form-control" id="a" name="symbol" placeholder="" >
                    <label for="b">Formal Name</label>
                    <input type="text" class="form-control" id="b" name="name" placeholder="">
                    <label for="c">ISO Currency Code</label>
                    <input type="text" class="form-control" id="c" name="iso" placeholder="" >
                    <label for="d">Number of Decimal places</label>
                    <input type="text" class="form-control" id="d" name="numdec" placeholder="" >
                    <label for="e">Show amount in millions</label>
                    <select  id="e" name="amount" class="form-control">
                        <option value="No">No</option> 
                        <option value="Yes">Yes</option>
                    </select>
                    <label for="f">Suffix symbol to amount</label>
                    <select  id="f" name="suffix" class="form-control">
                        <option value="No">No</option> 
                        <option value="Yes">Yes</option>
                    </select>

                    <label for="g">Add space between symbol and amount</label>
                    <select  id="g" name="symam" class="form-control">
                        <option value="No">No</option> 
                        <option value="Yes">Yes</option>
                    </select>
                    <label for="h">Word representing amount after decimal</label>
                    <input type="text" class="form-control" name="amodec" id="h" placeholder="" >

                    <label for="i">No, of decimal places for amount in words</label>
                    <input type="text"  id="i" name="decwo" class="form-control">
                        
                    <div class="flexy">
                        <button type="submit" class="btn btn-info w-50 my-2" >Create</button>
                    </div>
                   

                </form>
              

            </div>
            <div class="col-sm-2"></div>

        </div>
        </div>
        <div class="col-sm-3  m-0 p-0"></div>

       </div> 
     
    
{% endblock %}