{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
            @media (max-width: 991px) {
  .main-panel {
      margin-left: 0;
      width: 100%;
  }
}
.content-wrapper {
  padding: 1.875rem 1.75rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;        
        }
        .hide{
			display: none;
    	}
        .close {
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 17px;
            transform: rotate(0deg);
            color: rgb(255, 255, 255);
            cursor: pointer;
            text-decoration: none;
        }
        .form-popup {
            display: none;
            position: fixed;
            top: 150px;
            right: 15px;
            border: 1px solid #f1f1f1;
            z-index: 9;
            width: 300px;
            height: 550px;
        }
        .content a:hover {
            background-color: rgb(238, 167, 75);
        }
        .form-container {
            max-width: 50px;
            height: 500px;
            padding: 10px;
        }
        .form-container1 {
            max-width: 350px;
            height: 600px;
            padding: 2px; 
        }
        .bt{
            text-align: end;
        }
        .btns_prnt{
            width: 100%;
            cursor:pointer;
            background-color: rgba(240, 248, 255, 0);
            border: none;
        }
        .btns_prnt:hover{
            background-color:#5bc9e4;
            color: rgb(15, 14, 14);
        } 
        .ScrollStyle{
            /* max-height: 200px; */
            overflow-y: scroll;
        }  
    </style>

    <div class="m-0">
        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-3 m-0 p-0"></div>  
            <div class="col-sm-6 m-0 p-0">
                <div class="row bg-info text-light p-2 m-0">
                    <div class="col-md-6">Group Alteration</div>
                    <div class="col-md-2">
                        {% for i in tally %}
                            {{i.name}}
                        {% endfor %}
                    </div>
                </div>
                
                <form class="p-4" style="background-color:rgba(0,0,0,.4);" method="post" action="/load_create_groups/{{ i.id }}" autocomplete="off">
                    {% csrf_token %}
                    <div class="p-3">
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a">Name</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" name="gname" value="{{ i.group_name }}" class="form-control" id="a" required></div>
                            <div class="col-sm-4 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="b">Alias</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" name="alias" value="{{ i.group_alias }}" class="form-control" id="b" placeholder=""></div> 
                            <div class="col-sm-7 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0" id="form1">
                            <div class="col-sm-4 m-0 p-0"><label for="b">Under</label></div>
                            <div class="col-sm-6 m-0 p-0" > 
                                <input type="text" id="under"  name="group" class="form-control" value="{{ i.group_under }}" onchange="showunder()"
                                 onclick="showgroup(); " readonly>
                            </div>
                            <div class="col-sm-7 m-0 p-0"></div>
                            <div class="row container-fluid hide p-2 m-0"  id="assets">
                                <div class="col-sm-4 m-0 p-0"></div>
                                <div class="col-sm-6 m-0 p-0">&nbsp;&nbsp;&nbsp;&nbsp;<label for=""><i>(Current Assets)</i></label></div>
                                <div class="col-sm-4 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid hide p-2 m-0"  id="bankocc">
                                <div class="col-sm-4 m-0 p-0"></div>
                                <div class="col-sm-6 m-0 p-0">&nbsp;&nbsp;&nbsp;&nbsp;<label for=""><i>(Loans (Liability))</i></label></div>
                                <div class="col-sm-4 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid hide p-2 m-0"  id="liabilities">
                                <div class="col-sm-4 m-0 p-0"></div>
                                <div class="col-sm-6 m-0 p-0">&nbsp;&nbsp;&nbsp;&nbsp;<label for=""><i>(Current Liabilities)</i></label></div>
                                <div class="col-sm-4 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid hide p-2 m-0"  id="account">
                                <div class="col-sm-4 m-0 p-0"></div>
                                <div class="col-sm-6 m-0 p-0">&nbsp;&nbsp;&nbsp;&nbsp;<label for=""><i>(Capital Account)</i></label></div>
                                <div class="col-sm-4 m-0 p-0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                        <div class="col-sm-12 m-0 p-4">
                            <div class="row container-fluid hide p-2" id="primary">
                                <div class="col-sm-8 m-0 p-0"> <label for="c">Nature of Group</label></div>
                                <div class="col-sm-4 m-0 p-0">
                                    <select name="group_nature" id="nature_of_group" class="form-control" onchange="showNature()">
                                        <option value="{{ i.nature }}">{{ i.nature }}</option>

                                        <option value="Assets">Assets</option>
                                        <option value="Expenses">Expenses</option>
                                        <option value="Income">Income</option>
                                        <option value="Liabilities" selected>Liabilities</option>  
                                    </select>
                                </div>
                                <div class="col-sm-0 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid hide p-2" id="gorss_profit">
                                <div class="col-sm-8 m-0 p-0"> <label for="c">Does it affect gross profit</label></div>
                                <div class="col-sm-4 m-0 p-0">
                                    <select name="gorss_profit" id="" value="{{ i.gross_profit }}" class="form-control">
                                        <option value="{{ i.gross_profit }}">{{ i.gross_profit }}</option>
                                        <option value="No">No</option>
                                        <option value="Yes">Yes</option>  
                                    </select>
                                    <!-- <input type="text" name="gorss_profit" class="form-control" id="a" placeholder=""> -->
                                </div>
                                <div class="col-sm-0 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid  p-2">
                                <div class="col-sm-8 m-0 p-0"> <label for="c">Group behaves like sub-ledger</label></div>
                                <div class="col-sm-4 m-0 p-0">
                                    <select name="ledger" id="i" value="{{ i.sub_ledger }}" class="form-control">
                                        <option value="{{ i.sub_ledger }}">{{ i.sub_ledger }}</option>
                                        <option value="No">No</option>
                                        <option value="Yes">Yes</option>  
                                    </select>
                                </div>
                                <div class="col-sm-0 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid  p-2">
                                <div class="col-sm-8 m-0 p-0"> <label for="c">Net Debit/Credit Balances for reporting</label></div>
                                <div class="col-sm-4 m-0 p-0">
                                    <select name="debit/credit" value="{{ i.debit_credit }}" id="i" class="form-control">
                                        <option value="{{ i.debit_credit }}">{{ i.debit_credit }}</option>
                                        <option value="No">No</option>
                                        <option value="Yes">Yes</option>  
                                    </select>
                                </div>
                                <div class="col-sm-0 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid  p-2">
                                <div class="col-sm-8 m-0 p-0"> <label for="c">Used for Calculations(for example :tax,discounts) 
                                    <br><p><i>&nbsp;&nbsp;&nbsp;&nbsp;(For sale invoice entries)</i></p></label>
                                </div>
                                <div class="col-sm-4 m-0 p-0">
                                    <select name="calculation" id="i" value="{{ i.calculation }}" class="form-control">
                                        <option value="{{ i.calculation }}">{{ i.calculation }}</option>
                                        <option value="No">No</option>
                                        <option value="Yes">Yes</option>  
                                    </select>
                                </div>
                                <div class="col-sm-0 m-0 p-0"></div>
                            </div>
                            <div class="row container-fluid  p-2">
                                <div class="col-sm-8 m-0 p-0"> <label for="c">Method to Allocate when used in purchase invoice</label></div>
                                <div class="col-sm-4 m-0 p-0">
                                    <select name="invoice" value="{{ i.invoice }}" id="i" class="form-control">
                                        <option value="{{ i.invoice }}">{{ i.invoice }}</option>
                                        <option value="not_applicable">Not Applicable</option>
                                        <option value="Appropriate_by_Qty">Appropriate by Qty</option>
                                        <option value="Appropriate_by_value">Appropriate by value</option>    
                                    </select>
                                </div>
                                <div class="col-sm-0 m-0 p-0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="enter w-100 py-4"><button class="btn btn-info w-15">Alter</button></div>  
                </form>
            </div>
        <div class="col-sm-5 m-0 p-0"></div>
    </div>

    

    <script>
        function closeForm() {
        document.getElementById("myForm").style.display = "none";
        }
        function showgroup(){
        document.getElementById('myForm').style.visibility= "visible";
        document.getElementById("myForm").style.display = "block";
        }

        function showNature(){
            var status = document.getElementById("nature_of_group");
            var a = status.value
            console.log(a);
            if( a == "Expenses" ){
                console.log(a);

                document.getElementById('gorss_profit').style.display = "flex";
            }
            else if( a == "Income" ) {
                document.getElementById('gorss_profit').style.display = "flex";
            }
            else if( a == "Assets" ) {
                document.getElementById('gorss_profit').style.display = "none";
            }
            else{
                document.getElementById('gorss_profit').style.display = "none";
            }       
        }
        
        function showunder(p){
            document.getElementById('under').value= p;
            var status = document.getElementById("under");
            var a = status.value
            console.log(a);
            
            if( a == "Primary" ){
                console.log(a);

                document.getElementById('primary').style.display = "flex";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('assets').style.display = "none";
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
                document.getElementById('account').style.display = "none";
                
            }
            else if( a == "Bank Accounts" ) {
                document.getElementById('assets').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
                document.getElementById('account').style.display = "none";
                
            }
            else if( a == "Bank OCC A/c" ) {
                document.getElementById('bankocc').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('assets').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
                document.getElementById('account').style.display = "none";
            }
            else if( a == "Bank OD A/c" ) {
                document.getElementById('bankocc').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('assets').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
                document.getElementById('account').style.display = "none";
            }
            else if( a == "Cash in Hand" ) {
                document.getElementById('assets').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('liabilities').style.display = "none"; 
                document.getElementById('account').style.display = "none"; 
            }
            else if( a == "Deposits" ) {
                document.getElementById('assets').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
                document.getElementById('account').style.display = "none";
            }
            else if( a == "Duties and Taxes" ) {
                document.getElementById('liabilities').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('assets').style.display = "none";
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('account').style.display = "none";
            }
            else if( a == "Loans Advance" ) {
                document.getElementById('assets').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
                document.getElementById('account').style.display = "none";
            }
            else if( a == "Provisions" ) {
                document.getElementById('liabilities').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('assets').style.display = "none";
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('account').style.display = "none";
            }
            else if( a == "Reserves Surplus" ) {
                document.getElementById('account').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('assets').style.display = "none";
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
            }
            else if( a == "Retained Earnings" ) {
                document.getElementById('account').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('assets').style.display = "none";
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
            }
            else if( a == "Secured Loans" ) {
                document.getElementById('bankocc').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('assets').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
                document.getElementById('account').style.display = "none";
            }
            else if( a == "Stock-in-Hand" ) {
                document.getElementById('assets').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
                document.getElementById('account').style.display = "none";
            }
            else if( a == "Sundry Creditors" ) {
                document.getElementById('liabilities').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('assets').style.display = "none";
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('account').style.display = "none";
            }
            else if( a == "Sundry Debtors" ) {
                document.getElementById('assets').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
                document.getElementById('account').style.display = "none";
            }
            else if( a == "Unsecured Loans" ) {
                document.getElementById('bankocc').style.display = "flex";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('assets').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
                document.getElementById('account').style.display = "none";
            }
            else{
                document.getElementById('bankocc').style.display = "none";
                document.getElementById('primary').style.display = "none";
                document.getElementById('gorss_profit').style.display = "none";
                document.getElementById('assets').style.display = "none";
                document.getElementById('liabilities').style.display = "none";
                document.getElementById('account').style.display = "none";
            }
        }
    </script>

{% endblock %}