{% extends 'index1.html' %}
    {% block body %}
    {% load static %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="row mt-5">
        <div class="col-md-4"></div>
            <div class="col-md-4 bg-info p-5">
                <div class="row">
                    <div class="col-md-4">Email</div>
                    <div class="col-md-8"><input type="email" class="form-control" name="email"> </div>
                    <div class="col-md-4">Password</div>
                    <div class="col-md-8"><input type="password" class="form-control" name="password"> </div>
                </div>
                <center><button type="submit" class="btn btn-primary mt-3">Sign In</button> </center>
                <div>Don't have an Account? <a href="{% url 'createcompany' %}" class="text-warning">Register</a> </div>
            </div>
        <div class="col-md-4"></div>
    </div>


</form>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if msg_success %}
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            text: '{{ msg_success }}',
            showConfirmButton: false,
            timer: 1500
        }).then(function () {
            javascript: history.go(-2);
        })
        
    </script>
    {% endif %}
    
    <!--{% if msg_error %}-->
    <!--<script>-->
    <!--    Swal.fire({-->
    <!--      icon: 'error',-->
    <!--      text: '{{ msg_error }}',-->
    <!--    }).then(function () {-->
    <!--      javascript: history.go(-1);-->
    <!--    })-->
    <!--    </script>-->
    <!--{% endif %}-->
    
{% if msg_error %}
    <script>
      alert('password inccorect');
      javascript: history.go(-1);
    </script>
{%endif%}

{% endblock %}