{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;    
        }
    </style>
    <div class="m-3">
        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-3 m-0 p-0"></div>  
            <div class="col-sm-6 m-0 p-0">
                <div class="row bg-info text-light p-2 m-0">
                    <div class="col-md-6"><b>LUT / Bond Details</b></div>
                    <div class="col-md-6">
                        {% for i in tally %}
                            {{i.name}}
                        {% endfor %}
                    </div>
                </div>
                <h6 class=" text-light p-2 m-0 text-center" style="background-color: rgba(0,0,0,.4);">LUT / Bond Details</h6>
                <form class="p-5" style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'lutbond' %}" autocomplete="off">
                    {% csrf_token %}
                    <h6  class="bg-trasparent text-light p-2 m-0 text-left">LUT / Bond Details</h6>
                    <div class="p-3">
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a">LUT / Bond No.</label></div>
                            <div class="col-sm-6 m-0 p-0">
                                <input type="text" class="form-control" name="lut_no" id="d" placeholder="" value=""> 
                            </div>
                            <div class="col-sm-4 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a">Application from</label></div>
                            <div class="col-sm-6 m-0 p-0">
                                <input type="date" class="form-control" name="appl_frm" value="2022-08-01" data-date-format="DD/MM/YYYY"> 
                            </div>
                            <div class="col-sm-4 m-0 p-0"></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-4 m-0 p-0"> <label for="a">To</label></div>
                            <div class="col-sm-6 m-0 p-0">
                                <input type="date" class="form-control" name="appl_to" id="d" placeholder="" value=""> 
                            </div>
                            <div class="col-sm-4 m-0 p-0"></div>
                        </div>
                    </div>
                    <div class="enter w-100 py-4"><button class="btn btn-info w-15">CREATE</button></div>  
                </form>
            </div>
        <div class="col-sm-5 m-0 p-0"></div>
    </div>      
{% endblock %}