{% extends 'base.html' %}
{% block body %}
{% load static %}

<style>


    .form-popup {
        visibility: hidden;       
        position: fixed;
        top: 230px;
        right: 15px;
        background-color: rgb(216, 232, 238); 
        border: 1px solid #f1f1f1;
        z-index: 9;
        width: 300px;
        height: 200px;
      
      }

      .form-popup2 {
        visibility: hidden;       
        position: fixed;
        top: 230px;
        right: 15px;
        background-color: rgb(216, 232, 238); 
        border: 1px solid #f1f1f1;
        z-index: 9;
        width: 300px;
        height: 200px;
      
      }

      .form-popup3 {
        visibility: hidden;       
        position: fixed;
        top: 230px;
        right: 15px;
        background-color: rgb(216, 232, 238); 
        border: 1px solid #f1f1f1;
        z-index: 9;
        width: 300px;
        height: 200px;
      
      }

      .flexy{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .hide{
        display: none;
    }

        @media (max-width: 991px) {
        .main-panel {
            margin-left: 0;
            width: 100%;
        }
        }

        .content-wrapper {
        padding: 1.875rem 1.75rem;
        width: 100%;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        }
    
</style>

    <div class="main-panel">
    <div class="content-wrapper">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

               
            <h6  class="bg-info text-light p-2 m-0 text-left">Pay Head Creation</h6>

            <form name="myForm" id="" action="pay_head" onsubmit="validateForm()" method="post" class="p-5" style="background-color:rgba(0,0,0,.4);">
                {% csrf_token %}

                
            


            <div class="row container-fluid  p-2 m-0">
                <div class="col-md-4"> <label for="name">Name :</label></div>
                <div class="col-md-8"><input   type="text" class=" form-control" id="name1" 
                 name="name" autocomplete="off" onkeyup="copy()" ></div>
                
            </div>

            
            <div class="row container-fluid  p-2 m-0">
                <div class="col-md-4 "> <label for="alia">(Alias) :</label></div>
                <div class="col-md-8 "><input class="form-control" type="text" name="alias"
                     id="alias" autocomplete="off"></div> 
            </div>

                <div class="row container-fluid  p-0 m-0" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
                        
                        <h5 class="text-center" style="margin-left: 30% ;margin-top: 20px ;"><u> Pay Heads Information </u></h5>

                        
                                <div class="row container-fluid  p-2 ">
                                    <div class="col-md-4"> <label for="ph_typeder" >Pay heads type</div>
                                    <div class="col-md-8" >
                                        <select name="payhead_type" id="" class="form-control" autocomplete="off">
                                            <option value="Not Applicable">Not Applicable</option>
                                    <option value="Deductions From Employees">Deductions From Employees</option>
                                    <option value="Earnings for Employees">Earnings for Employees</option>
                                    <option value="Loans and Advances">Loans and Advances</option>
                                    
                                        </select>
                                    </div>
                                </div>


                                <div class="row container-fluid  p-2">
                                    <div class="col-md-4" > <label for="loc">Income type</label></div>
                                    <div class="col-md-8"><select name="income_type" id="type" class="form-control"  onchange="show()" 
                                     autocomplete="off">
                                    <option value="fixed">Fixed</option>
                                    <option value="variable">Variable</option>
                                    </select>

                                    </div>
                                </div>

                                <div class="row container-fluid  p-2">
                                    <div class="col-md-4" > <label for="loc">Under</label></div>
                                    <div class="col-md-8"><input type="text" name="under_name" class="form-control" id="under"  autocomplete="off"
                                        onfocus="showListUnder()" value="Primary"></div>
                                </div>
                                
                                <div class="row container-fluid  p-2">
                                    <div class="col-md-4" > <label for="loc">Affect net salary</label></div>
                                    <div class="col-md-8"><select name="net_salary" id="" class="form-control"
                                        autocomplete="off">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                    </select>

                                    </div>
                                </div>
                                <div class="row container-fluid  p-2">
                                    <div class="col-md-4" > <label for="loc" >Name to be displayed in payslip</label></div>
                                    <div class="col-md-8"><input type="text" name="pay_slip_name" class="form-control" id="name2" placeholder=""
                                       autocomplete="off"></div>
                                </div>
                                <div class="row container-fluid  p-2">
                                    <div class="col-md-4" > <label for="loc">Currency of ledger</label></div>
                                    <div class="col-md-8"><input type="text" name="currency_ledger" class="form-control" id="" placeholder=""
                                        autocomplete="off"></div>
                                </div>
                                <div class="row container-fluid  p-2">
                                    <div class="col-md-4" > <label for="loc">Calculation type</label></div>
                                    <div class="col-md-8"><select name="calculation_type" id="ctype" class="form-control"  onchange="showCalc()"
                                        autocomplete="off">
                                    <option value="not_applicable">Not Applicable</option>
                                    <option value="on_attendance">On Attendance</option>
                                    <option value="on_production">On Production</option>
                                    </select>

                                    </div>
                                </div>

                                <div id="attl" class="row container-fluid hide  p-2 m-0">
                                    <div class="col-md-4" > <label for="attendanc">Attendance/Leave with Pay</label></div>
                                    <div class="col-md-8"><input type="text" name="attendance_type" class="form-control" id="alp" placeholder="" autocomplete="off" 
                                        onfocus="showList()"></div>
                                </div>

                                <div id="prd" class="row container-fluid hide  p-2 m-0">
                                    <div class="col-md-4" > <label for="prdtyp" >Production Type</label></div>
                                    <div class="col-md-8"><input type="text" name="production_type" class="form-control" id="prdt" placeholder="" autocomplete="off"
                                        onfocus="showListProduction()"></div>
                                </div>



                                
            <div class="row" style="margin-top: 10%;">
                <div class="col-md-4"></div>
                    <div class="col-md-4" ><button class="btn btn-info w-15">CREATE</button></div>   
                </div>

                            </form>
                        
                </div>
                <div class="col-md-4"></div>
            
            </div>
            

                </div>

        </div>

    
    

        <!-- list Creation -->

 

 <div class="form-popup" id="list-div" >
  
    <h6 style="background-color:rgb(17, 169, 240) ;color:white">List of Attendance Types</h6>
  <hr >
  <div>
    <table >
        <tr >
            <td>
                  <a href="attendance_seconday"> <button
                    type="submit"
                    style="color: black;margin-left: 310%; width: 20%"
                    class="custom-select-md form-control"
                  >
                    create
                  </button></a>
            </td>
          </tr>
          
    <tr>
      <td>    
  
        {% for l in att %}
      <div onclick="hideList('{{l.name}}')" style="color:black;" >{{l.name}}</div>
      {% endfor %}
      </td>
    </tr>  
    
    </table>
  </div>
  
  </div>



  <!-- list Creation production type -->

  <div class="form-popup2" id="list-div2" >
  
    <h6 style="background-color:rgb(17, 169, 240) ;color:white">List of Production Types</h6>
  <hr >
  <div>
    <table >
        
          
    <tr>
      <td>    
  
        {% for l in pay %}
      <div onclick="hideListProduction('{{l.production_type}}')" style="color:black;" >{{l.production_type}}</div>
      {% endfor %}
      </td>
    </tr>  
    
    </table>
  </div>
  
  </div>


<!-- list Creation Under -->

<div class="form-popup3" id="list-div3" >
  
    <h6 style="background-color:rgb(17, 169, 240) ;color:white">List of Payhead Types</h6>
  <hr >
  <div>
    <table >
        
          
    <tr>
      <td>    
  
        {% for l in pay %}
      <div onclick="hideListUnder('{{l.under_name}}')" style="color:black;" >{{l.under_name}}</div>
      {% endfor %}
      </td>
    </tr>  
    
    </table>
  </div>
  
  </div>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

 <script>
    function validateForm(){

        var x=document.forms["myForm"]["name"].value;
        if (x==null || x=="")
        {
        alert("Name must be filled out");
        return false;
        }
    }

    function copy(){
        var n1=document.getElementById("name1");
        var n2=document.getElementById("name2")
        n2.value=n1.value;

    }

    function showList(){
        document.getElementById("list-div").style.visibility="visible";
    }

    function hideList(valueDIv) {
        document.getElementById("alp").value=valueDIv;
        document.getElementById("list-div").style.visibility = "hidden";
    }

    function showListProduction(){
        document.getElementById("list-div2").style.visibility="visible";
    }
    function hideListProduction(valueDIv) {
        document.getElementById("prdt").value=valueDIv;
        document.getElementById("list-div2").style.visibility = "hidden";
    }

    function showListUnder(){
        document.getElementById("list-div3").style.visibility="visible";
    }
    function hideListUnder(valueDIv){
        document.getElementById("under").value=valueDIv;
        document.getElementById("list-div3").style.visibility = "hidden";
    }
    

    function showCalc(){
        var status =document.getElementById('ctype');
        var c=status.value;
        console.log(c);
        if (c=='on_attendance'){
            console.log(c);
            document.getElementById('attl').style.display="flex";
            document.getElementById('prd').style.display="none";
        }

        else if(c=='on_production'){
            console.log(c);
            document.getElementById('attl').style.display="none";
            document.getElementById('prd').style.display="flex";
        }
        else {
            console.log(c);
            document.getElementById('prd').style.display="none";
            document.getElementById('attl').style.display="none";
        }
    }

 </script>


    

    





{% endblock %}