

    {% extends 'base.html' %}
    {% block body %}
        {% load static %}
        <style>
            .flexy{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        .form1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            
        }
        form{
            padding:30px;
        }
        .close {
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 25px;
            color: rgb(255, 255, 255);
            transform: rotate(45deg);
            cursor: pointer;
            text-decoration: none;
            
        }
        .back{
            background-color:rgba(0,0,0,0.4);
            color: white;

        }
        btns:hover{
            background-color:rgba(225,225,225,0.4);
            color:black;
        }
        button{
            background-color:rgb(103, 175, 220) ;
            color:white;
            padding:10px 20px;
        }
    </style>
    <div class="row container-fluid p-0 mx-0" >
        <div class="col-sm-1 m-0  p-0"></div>
        <div class="col-sm-10 m-0 p-0" style=" width: 100%; background-color:rgba(0,0,0,0.2);" >
       <!--     <a href="javascript:history.go(-1);" class="close">+</a> -->
       


        <div>
            <h6  class="bg-info text-light m-0 p-2">Bills payable</h6>
            <div class="row container-fluid p-3 m-0 back">
        
            <div class="col-sm-2   m-0 p-0 d-flex">
                <p>Under Group : </p>
                <h6>Group Name</h6>
            </div>
            <div class="col-sm-8   m-0 p-0"></div>
            
            <div class="col-sm-2   m-0 p-0">
                <h6>For 1-Apr-22</h6>
            </div>

            </div>

            <div style="overflow: scroll ;max-height: 70vh; width: 100%;background-color:rgba(0,0,0,0.4); ">
                <div >
                <table class="table">
                    <tr style="text-align: center;">
                        <th scope="col">Date &nbsp; Ref.no</th>
                       
                        <th scope="col"> Party's Name </th>
                        <th scope="col">Pending Amound</th>
                        <th scope="col">Due On </th>
                        <th scope="col">Overdue by days</th>
                        
                      </tr>
                    
                      

                      {% for pay in pay %}
                       
                      <tr style="text-align: center;" >

                          <td scope="row">{{ pay.date }} ,&nbsp; {{ pay.id }}</td>
                          
                          <td class=" dropdown " >

                              <a class=" " href="" data-toggle="dropdown" style="color: grey;"><b>{{ pay.party_name }}</b></a>
                         <div class="dropdown-menu" >
                          
                             <a href="" style="color: grey;" >{{ pay.items.items }} &nbsp;  &nbsp;  &nbsp;  &nbsp;   {{ pay.items.quantity }}</a><br>
                            
                           
                             
                         </div>


                          </td>
                          <td scope="row">{{  pay.pending_amound }}</td>
                          <td scope="row">{{  pay.due_date }}</td>
                          <td scope="row">{{  pay.overdue }}</td>
                        
                   
                      </tr>
                      
                   
                      
                      
                      {% endfor %}
                      
                     
                      

                </table>
            </div>


            </div>
       
        </div> 
        </div></div>
     
    
{% endblock %}