{% extends 'base.html' %}
{% block body %}
    {% load static %}



    <style>

        *{
                    padding: 0;
                    margin: 0;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .container{
                    height: 30vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    /* background-color: rgb(204, 212, 228); */
                }
                .form1{
                    background-color:rgba(0,0,0,.4);
                    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.662);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    width:30%;
                    position: absolute;
                }
                form{
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
        
                input,select{
                    margin: 10px;
                    padding: 5px;
                    width: 100%;
                    border: none;
                    background-color:rgb(220, 214, 214);
                    /* background-color: rgba(0, 0, 0, 0.04); */
                    border: 2px solid rgb(0, 0, 0,0);
                }
                input:focus-within,select:focus{
                 border: 2px solid rgb(103, 175, 220,0.5);
                }
        
        
                form div{
                    width: 100%;
                }
                button{
                    padding: 6px 30px;
                    border-radius: 10px;
                    border: 4px solid rgb(0, 0, 0,0);
                    color: white;
                    background-color: rgb(103, 175, 220);
                }
                button:hover{
                    
                    border: 4px solid rgb(103, 175, 220);
                    color: rgb(103, 175, 220);
                    background-color: white;
                }
                .close {
            position: absolute;
            top: 0;
            right: 8px;
            font-size: 25px;
            color: rgb(255, 255, 255);
            transform: rotate(45deg);
            cursor: pointer;
            text-decoration: none;
            
        }
        .close:hover{
            color: yellow;
        }
                </style>
        
        </head>
        <body>
            <div class="container">
            <div class="form1">
                <a href="javascript:history.go(-1);" class="close">+</a>
                <h6 style="background-color:rgb(103, 175, 220) ; color:white; text-align: center; padding: 9px 0; width:100%;">Cost Category Alteration(Seconadary)</h6>
                <form action="" method="post">
                <div class="top">
                    <div class="left1" style="color:white ;">
                    <div><p>Name</p></div>
                    <input type="text">
                    <div><p>(Alias)</p></div>
                    <input type="text">
                    <!-- <div><p>Under</p></div>
                    <select name="under" id="under">
                        <option value="Bank Account">primary</option>
                        </select>
                        </div> -->
        
                        <div><p>Allocate Revenue Items</p></div>
                        <select name="sub-ledger" id="sub-ledger">
                            <option value="No">No</option> 
                            <option value="Yes">Yes</option>
                             
                        </select>
                        <div><p>Allocate Non Revenue Items</p></div>
                        <select name="sub-ledger" id="sub-ledger">
                            <option value="No">No</option> 
                            <option value="Yes">Yes</option>
                          
                        </select>
                    
                </div>
                </form>
                </div>
                </div>
                </body>

                {% endblock %}
        