{% extends 'base.html' %}
{% block body %}

<style>
    .close {
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        transform: rotate(45deg);
        cursor: pointer;
        text-decoration: none;
    }
    .flexy{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btns_prnt{
        width: 100%;
       
        background-color: rgba(240, 248, 255, 0);
        border: none;
        /* padding: 6px; */
    
    }
    .btns_prnt:hover{
        background-color:rgb(44, 158, 187);
        color: rgb(15, 14, 14);
    }


</style>



<div class="row container-fluid p-0 mx-0">
    <div class="col-sm-3 m-0 p-0"></div>
    <div class="col-sm-6 m-0 p-0" style=" background-color:rgba(0,0,0,0.2);height: 400px;">
        <!-- <a href="javascript:history.go(-1);" class="close">+</a> -->
    <div  class="bg-info text-light ">Select Company</div>
   
<br>
                    
                        <div style="margin-left:18px;font-size:11px">Data Path/Name</div>
                        <div style="text-align: center; margin-top:-18px;margin-right:25px;font-size:11px">Number</div>
                        <div style="text-align: right; margin-top:-18px;margin-right:18px;font-size:11px">Period</div>
                    
                    <!-- <h6>&nbsp;&nbsp;Date of last entry</h6> -->
                    <hr>
    <div class="text-right" style="margin-right: 20px;"><a href="{% url 'create_cmpny' %}"  >Create Company</a></div>
    

           <div>
               <hr>
            <table>
               
               {% for i in com %}
               <tr>
                <div class="btns_prnt">
                   <div style="margin-left:10px;"><a href="{% url 'enable' i.id %}">&nbsp;&nbsp;{{i.name}}</a></div>
                   <div style="text-align: center; margin-top:-18px;margin-right:25px;"><a >&nbsp;&nbsp;({{i.id}})</a></div>
                   <div style="text-align: right; margin-top:-18px;margin-right:108px;font-size:11px"><a >&nbsp;&nbsp;{{i.fin_begin}}&nbsp;&nbsp;to</a></div>
                   <div style="text-align: right; margin-top:-18px;margin-right:15px;font-size:12px"><a >{{i.fin_end}}</a></div>
                </tr>
               {% endfor %}
            </div>
               </table>
           </div>   

                    
    
</form>

</div>
</div>
<div class="col-sm-4  m-0 p-0"></div>

</div> 



{% endblock %}