{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 300px;
          margin: auto;
          text-align: right;
          font-family: arial;
        }
        .modal-body{
            color: #fff;
            background-color: #213b52;
            max-width: 400px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }
        .modal-content{
            margin-top: 250px;
            background-color: #213b52;
        }
        a{
            margin-right: 10px;
            margin-left: 10px;
        }
        .btns{
            color: black;
            text-decoration: none;
        }
        .btns_prnt{
            color: #fff;
            width: 100%;
            text-align: end;
            background-color: rgba(240, 248, 255, 0);
            border: none;
            /* padding: 6px; */

        }
        .btns_prnt:hover{
            background-color:orange;
            color: rgb(15, 14, 14);
        }
    </style> 
    
    <div class="m2">
        <form class="p-2">
            <div class="p-3">
                <div class="card">
                    <h6  class="bg-info text-light p-0 m-0 text-left">Shut Company</h6>
                    <h6  class="text-light p-1 m-0 text-center">List of Companies</h6>
                    <hr>

                    <table>
                        {% for i in com %}
                        {% if i.status == 0 %}
         
                        {% else %}
                        <tr>
                            <a href="{% url 'shut' i.id %}"  >
                                    <div class="row">
                                        <div class="col-md-6">{{i.name}}</div>
                                        <div class="col-md-5">({{i.id}})</div>
                                    </div>
    
                                
                            </a>
                        </tr>
                         {% endif %}
                        {% endfor %}
                    </table>
                    
                        
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>   
            </div>   
        </form>
    </div>  
    <script>
        function conform() {
          alert("They will close all the open reports , Vouchers and masters, without saving changes you might have made. Do you want shut the company ?");
        }
        </script>    
{% endblock %}