{% extends 'base.html' %}


{% block body %}

<head>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
    
    <style>

    thead th {
    border: .5px solid rgba(255, 255, 255, .3); ;
    
    
 }
 .table-row{
cursor:pointer;
}
.table-row:hover{
    background-color: rgb(216, 155, 51);
}
.table-row1{
cursor:pointer;
}
.table-row1:hover{
    background-color: rgb(216, 155, 51);
}
.btn{
    border: 1px solid rgb(103, 175, 220);
    /* height: 30px;
    text-align: center; */
    
    width: 95%;
    

    
  }
  .table1{
    border: 1px solid rgb(103, 175, 220);
  }
  .selected{background-color:  rgb(216, 155, 51);color: #fff;font-weight: bold
}
  .selected1 {
    background-color:  rgb(77, 154, 242);
  }
        
    </style>
</head>
<body>
    
 

    <div class="container-fluid">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row d-flex " style="background-color: rgb(103, 175, 220);color:#fff;width:100%;margin: auto;">
                    <div class="col "> Voucher Monthly Register</div>
                </div>
                
                <div class="table-responsive ">
                    <table  class="table  " style="background-color: rgba(33,57,77,255);color:#fff;">
                    <thead>
                        <tr>
                            <th rowspan="3" colspan="2"   class="align-middle text-white "> 
                              <h6 class="d-flex align-items-sm-start par p-1 py-1" style="margin-left: 20px;">Type of Vouchers</h6>
                            </th>
                              <th  colspan="2"  class="text-white " style=" width: 25%">
                              <h6 style="text-align: center; font-size: 15px;">
                                <i>Payment</i><br>
                                <b>ABC Pvt LTD</b><br>
                                  For 1-Apr-22</h6>
                              </th>
                              <tr>
                              <th colspan="2" style="text-align: center; font-size: 15px;" ><b>Transations</b></th>
                            </tr>
                            <tr>
                                <th  style="text-align: center; font-size: 15px;" >Total Voucher</th>
                                <th  style="text-align: center; font-size: 15px;" >(Cancelled)</th>
                              </tr>
                          
                          </tr>
                       
                    </thead>

                    <tbody >
                        {% for i in mo %}
                        <tr class="table-row" data-href="{% url 'Statistics_voucher_register' i.id vch.id %}" >
                            <td colspan="2" >{{i.month_name}}</td>
                            {% if i.statistics_voucher_count_set.all %}
                            {% for j in i.statistics_voucher_count_set.all %}
                            
                            {% if j.Voucher == vch %}
                            <td style="text-align: center;">{{j.Total_Voucher}}</td>
                            <td style="text-align: center;">{{j.Cancelled}}</td>
                            
                            {% endif %}
                            
                            {% endfor %}
                            
                            {% else %}
                            <td style="text-align: center;"></td>
                            <td style="text-align: center;"></td>
                            {% endif %}


                            
                            
                            
                        </tr>
                        {% endfor %}

                        
                        
                        
                           
                          
                    
                        <tr class="table-row1">
                            <th colspan="2" ><h6 class="d-flex align-items-sm-start par p-1 py-1 foot" style="margin-left: 20px;">Grand Total</h6></th>
                            <th style="text-align: center;">{{total}}</th>
                            <th style="text-align: center;"></th>
                            
                            
                            
                        </tr>

                    </tbody>




                    </table>


                  </div>

                  <table class="table1 col" style="text-align: center; margin-top: 10px;" >
                    <thead>
                        <th ><a href="{% url 'index' %}" type="button"  class="btn p-1 px-4" >Quit</a></th>
                        <th><button type="button"  class="btn p-1 px-4" onclick="myFunction()">Select</button></th>
                        <th><button type="button"  class="btn p-1 px-1" onclick="removeSelectedRow()">Remove Line</button></th>
                        <th><a href="{% url 'statistics' %}" type="button"  class="btn p-1 px-1" >Restore Line</a></th>
                    </thead>
                </table>
                <div style="margin-top: 1px; height: 10px ; width: 100%;"></div>

       

              
                  


               



            </div>
        </div>
        
    </div>

<script>
    $(document).ready(function($) {
        $(".table-row").dblclick(function() {
            window.document.location = $(this).data("href");
        });
    });
</script>
<script>
            
    var index;  // variable to set the selected row index
    function getSelectedRow()
    {
        var table = document.getElementById("table");
        for(var i = 1; i < table.rows.length; i++)
        {
            table.rows[i].onclick = function()
            {
                // clear the selected from the previous selected row
                // the first time index is undefined
                if(typeof index !== "undefined"){
                    table.rows[index].classList.toggle("selected");
                }
               
                index = this.rowIndex;
                this.classList.toggle("selected");

            };
        }
            
    }


    getSelectedRow();

    

    
    
    
    
</script>

<script>

   
function myFunction() {
 var se = document.getElementsByClassName('selected');
 se[0].style.backgroundColor = "lightblue";
    
}
    </script>


<!-- <script>
        
        var rIndex,
            table = document.getElementById("table");
        
        
        function selectedRowToInput()
        {
            
            for(var i = 1; i < table.rows.length; i++)
            {
                table.rows[i].onclick = function()
                {
                  // get the seected row index
                  rIndex = this.rowIndex;
                  this.classList.toggle("selected");
                
                };
            }
        }
        selectedRowToInput();
        
        
        
        function removeSelectedRow()
        {
            table.deleteRow(rIndex);
            
        }
    </script> -->

<script>
function removeSelectedRow()
        {
            table.deleteRow(index);
            
        }
</script>
{% endblock %}