<div class="row container-fluid  p-2">
    <div class="col-sm-6 m-0 p-0"> <label for="g">Country</label></div>
    <div class="col-sm-6 m-0 p-0">
        <input type="text" id="select_country" name="country" class="form-control"  placeholder="select country" onclick="openForm()">
    </div>
    
                


</div>
<div class="row container-fluid  p-2">
    <div class="col-sm-6 m-0 p-0"> <label for="f" id="state_label">States</label></div>
    
    <div class="col-sm-6 m-0 p-0"> 
        <input type="text" id="select_state" name="state" class="form-control"  placeholder="select states" onclick="openFormStaes()">
    </div>
</div>
