{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
      .enter{
        display: flex;
        align-items: center;
        justify-content: center;        
        }
        .close {
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 17px;
            transform: rotate(0deg);
            color: rgb(255, 255, 255);
            cursor: pointer;
            text-decoration: none;
        }
        .form-popup {
            display: none;
            position: fixed;
            top: 150px;
            right: 15px;
            border: 1px solid #f1f1f1;
            z-index: 9;
            width: 300px;
            height: 550px;
        }
        .content a:hover {
            background-color: rgb(238, 167, 75);
        }
        .form-container {
            max-width: 50px;
            height: 500px;
            padding: 10px;
        }
        .form-container1 {
            max-width: 350px;
            height: 600px;
            padding: 2px; 
        }
        .btns_prnt{
            color: #fff;
            width: 100%;
            cursor: pointer;
            background-color: rgba(240, 248, 255, 0);
            border: none;
        }
        .btns_prnt:hover{
            background-color:#5bc9e4;
            color: rgb(15, 14, 14);
        }
        .bt{
            text-align: end;
        }
    </style>

    <div class="m-0">
        <div class="row container-fluid p-2 m-0">
            <div class="col-sm-3 m-0 p-0"></div>  
            <div class="col-sm-6 m-0 p-0">
                <div class="row bg-info text-light p-2 m-0">
                    <div class="col-md-6"><b>Stock Group Creation</b></div>
                </div>
                
                <form class="p-3" style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'Statistics_Stock_Group_Creation' %}" autocomplete="off">
                    {% csrf_token %}
                    <div class="p-3">
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-2 m-0 p-0"></div>
                            <div class="col-sm-3 m-0 p-0"> <label for="a">Name</label></div>
                            <div class="col-sm-5 m-0 p-0"><input type="text" class="form-control" name="name" required></div>
                            
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-2 m-0 p-0"></div>
                            <div class="col-sm-3 m-0 p-0"> <label for="b">Alias</label></div>
                            <div class="col-sm-5 m-0 p-0"><input type="text" class="form-control" name="alias"></div> 
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-2 m-0 p-0"></div>
                            <div class="col-sm-3 m-0 p-0"> <label for="b">Under</label></div>
                            <div class="col-sm-5 m-0 p-0"> 
                                <input type="text" id="under" value="Primary" name="under_name" class="form-control" onclick="showform();">
                            </div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                          <div class="col-sm-2 m-0 p-0"></div>
                          <div class="col-sm-3 m-0 p-0"> <label>Should quantities of items be added</label></div>
                          <div class="col-sm-5 m-0 p-0">
                            <select name="quantities" id="" class="form-control">
                              <option value="No">No</option>
                              <option value="Yes">Yes</option>
                            </select>
                          </div> 
                      </div>
                    <div class="enter w-100 py-4"><button class="btn btn-info w-15">CREATE</button></div>  
                </form>
            </div>
        <div class="col-sm-5 m-0 p-0"></div>
    </div>  

    <div class="form-popup" id="underForm" style="background-color: #213b52" >
        <form action="" class="form-container1" >
            <h6 style="background-color:rgb(17, 169, 240) ;color:white text">List of Groups</h6>
            <a href="" style="cursor:pointer" class="btn bt btns_prnt" role="button">Create</a>  
            <hr>
            <div>
                <table>
                    <tr>
                        <option onclick="setPrimary()" class="btns_prnt">&nbsp;&nbsp;Primary</option>
                  
                        {% for i in sg_data %}
                            <option onclick="setvalue('{{i.name}}','{{i.id}}')" class="btns_prnt">&nbsp;&nbsp;{{i.name}}</option>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <input type="text" name="underhidden" hidden value="{{l.id}}">
        </form>
        <button type="button" class="btn cancel close" onclick="closeForm()">x</button>
    </div>

    <script>
        function closeForm() {
            document.getElementById("underForm").style.display = "none";
        }
        function showform(){
            document.getElementById('underForm').style.display= "block";
        }
        function setPrimary(){
            document.getElementById('under').value= 'Primary';
            document.getElementById('underForm').style.visibility= "block";
        }
        function setvalue(under,underId){
            document.getElementById('under').value= under;
            document.getElementById('underForm').style.visibility= "block";
            document.getElementsByName('underhidden').value= underId;
        }
    </script>
{% endblock %}