{% extends 'base.html' %}
    {% block body %}
    {% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;        
        }
    </style>
    <div class="m-0">
        <div class="row container-fluid  p-2 m-0">
            <div class="col-sm-3 m-0 p-0"></div>  
            <div class="col-sm-6 m-0 p-0">
                <div class="row bg-info text-light p-2 m-0">
                    <div class="col-md-6"><b>TDS Deductor Details</b></div>
                    <div class="col-md-6">
                        {% for i in tally %}
                            {{i.name}}
                        {% endfor %}
                    </div>
                </div>
                <form class="p-4" style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'tds_d' %}" autocomplete="off">
                    {% csrf_token %}
                    <h6  class=" text-light p-2 m-0 text-center">Company TDS Dedoctor Details</h6>
                    <div class="p-3">
                        
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-6 m-0 p-0"> <label for="">TAN Registration Number</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" name="tan_reg_no" class="form-control" required></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-6 m-0 p-0"> <label for="b">Tax Deduction and collection Account Number</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" name="acc_no" class="form-control" maxlength="10" 
                                pattern="[a-zA-Z]{4}[0-9]{5}[a-zA-Z]{1}" title="Invalid TAN Structure. E.g. AAAA12345A">
                            </div> 
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-6 m-0 p-0"> <label for="a">Deductor Type</label></div>
                            <div class="col-sm-6 m-0 p-0">
                                <select name="d_typ" id="i" class="form-control">
                                    <option value="Company">Company</option>
                                    <option value="Individual/HUF">Individual/HUF</option>
                                </select>
                            </div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-6 m-0 p-0"> <label for="a">Deductor branch / division</label></div>
                            <div class="col-sm-6 m-0 p-0"><input type="text" name="d_branch" class="form-control" id="a" placeholder=""></div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-6 m-0 p-0"> <label for="b">Set / Alter details of person responsible</label></div>
                            <div class="col-sm-6 m-0 p-0"> 
                                <select name="set_alter" id="person" class="form-control" onchange="showperson()">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                        </div>
                        
                        <hr>
                        <h6  class=" text-light p-2 m-0 text-center" id="rate">Rate and Exemption Details</h6>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-6 m-0 p-0"> <label for="b">Ignore IT exemption limit for TDS deduction</label></div>
                            <div class="col-sm-6 m-0 p-0"> 
                                <select name="it_tds" id="i" class="form-control">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="row container-fluid  p-2 m-0">
                            <div class="col-sm-6 m-0 p-0"> <label for="b">Activate TDS for syoxk items</label></div>
                            <div class="col-sm-6 m-0 p-0"> 
                                <select name="act_tds" id="i" class="form-control">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="enter w-100 py-4"><button class="btn btn-info w-15">CREATE</button></div>  
                </form>
            </div>
        <div class="col-sm-5 m-0 p-0"></div>
    </div>  

    <script>
        function showperson(){
            var status = document.getElementById("person");
            var a = status.value;
            if(a=="Yes"){

                window.location.href="{% url 'load_person_res' %}"
            }
        }
    </script>
{% endblock %}