{% extends 'base.html' %}
{% block body %}
{% load static %}
    <style>
        .enter{
            display: flex;
            align-items: center;
            justify-content: center;        
        }
        .close {
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 17px;
            transform: rotate(0deg);
            color: rgb(255, 255, 255);
            cursor: pointer;
            text-decoration: none;
        }
        .form-popup {
            display: none;
            position: fixed;
            top: 150px;
            right: 30px;
            border: 1px solid #f1f1f1;
            z-index: 9;
            width: 300px;
            height: 200px;
        }
        .content a:hover {
            background-color: rgb(238, 167, 75);
        }
        .form-container1 {
            max-width: 350px;
            height: 300px;
            padding: 2px; 
        }
        .btns_prnt{
            color: #fff;
            width: 100%;
            cursor:pointer;
            background-color: rgba(240, 248, 255, 0);
            border: none;
        }
        .btns_prnt:hover{
            background-color:#5bc9e4;
            color: rgb(15, 14, 14);
        }
        .bt{
            text-align: end;
        }
        .ScrollStyle{
            max-height: 200px;
            overflow-y: scroll;
        }
    </style>
    <script>
        function showunit(){
            var status = document.getElementById("unit");
            var a = status.value;
            if(a=="create"){
    
                window.location.href="{% url 'unitcreate_alt' %}"
            }
        }
        function showuni(){
            var status = document.getElementById("uni");
            var a = status.value;
            if(a=="create"){
    
                window.location.href="{% url 'unitcreate_alt' %}"
            }
        }
        function showsim(){
            var status = document.getElementById("sim");
            var a = status.value;
            if(a=="Simple"){
    
                window.location.href="{% url 'load_unit_creation' %}"
            }
        }
    </script>
    
    <div class="m-0">
        <div class="row container-fluid p-2 m-0">
            <div class="col-sm-3 m-0 p-0"></div>  
            <div class="col-sm-6 m-0 p-0">
                <div class="row bg-info text-light p-2 m-0">
                    <div class="col-md-6"><b>Unit Creation</b></div>
                    <div class="col-md-6">
                        {% for i in tally %}
                        {{i.name}}
                    {% endfor %}
                    </div>
                </div>
                <form class="p-3" style="background-color:rgba(0,0,0,.4);" method="post" action="{% url 'unit_com' %}" autocomplete="off">
                    {% csrf_token %}
                    <div class="p-3">
                        <div class="row container-fluid p-2 m-0">
                            <div class="col-sm-1 m-0 p-0"></div> 
                            <div class="col-sm-5 m-0 p-0"> <label for="a">Type</label></div>
                            <div class="col-sm-5 m-0 p-0">
                                <select name="compound" id="sim" class="form-control" onclick="showsim();">
                                    <option value="Compound">Compound</option>
                                    <option value="Simple">Simple</option>
                                </select>
                            </div> 
                            <div class="col-sm-1 m-0 p-0"></div>    
                        </div>
                            <div class="row container-fluid p-2 m-0">
                                <div class="col-sm-1 m-0 p-0"></div> 
                                <div class="col-sm-5 m-0 p-0"><label for="b">First Unit</label></div>
                                <div class="col-sm-5 m-0 p-0">
                                    <input type="text" id="funit" value="" name="f_unit" required class="form-control" onclick="showform();">
                        
                                </div> 
                                <div class="col-sm-1 m-0 p-0"></div> 
                            </div>
                            <div class="row container-fluid  p-2 m-0">
                                <div class="col-sm-1 m-0 p-0"></div> 
                                <div class="col-sm-5 m-0 p-0"> <label for="b">Conversion of</label></div>
                                <div class="col-sm-5 m-0 p-0"><input type="number" class="form-control" name="conversion"></div> 
                                <div class="col-sm-1 m-0 p-0"></div> 
                            </div>
                            <div class="row container-fluid  p-2 m-0">
                                <div class="col-sm-1 m-0 p-0"></div>
                                <div class="col-sm-5 m-0 p-0"> <label for="b">Second unit</label></div>
                                <div class="col-sm-5 m-0 p-0">
                                    <input type="text" id="sunit" value="" name="s_unit" class="form-control" onclick="showform1();">
                            
                                </div> 
                            </div>
            
                    <div class="enter w-100 py-4"><button class="btn btn-info w-15">CREATE</button></div>  
                </form>
            </div>
        <div class="col-sm-5 m-0 p-0"></div>
    </div> 

    <div class="form-popup ScrollStyle" id="underForm" style="background-color: #213b52" >
        <form action="" class="form-container1">
            <h6 style="background-color:rgb(17, 169, 240) ;color:white text">Units</h6>
            <button type="button" class="btn cancel close" onclick="closeForm()">X</button>
            <a href="{% url 'unitcreate_alt' %}" style="cursor:pointer" class="btn bt btns_prnt" role="button">Create</a>  
            <hr>
            <div>
                <table>
                    <tr>
                        {% for co in c %}
                        <option onclick="setvalue('{{co.symbol}}','{{co.id}}')" class="btns_prnt">&nbsp;&nbsp;{{ co.symbol }}  ({{ co.formal_name }})</option>
                            <!-- <a onclick="setvalue('{{co.symbol}} ({{ co.formal_name }})','{{co.id}}')" class="content btn btns_prnt" role="button"
                                style="cursor:pointer">&nbsp;&nbsp;{{ co.symbol }}  ({{ co.formal_name }})
                            </a><br> -->
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <input type="text" name="underhidden" hidden value="{{co.id}}">
        </form>    
    </div>
    <div class="form-popup ScrollStyle" id="underForm1" style="background-color: #213b52" >
        <form action="" class="form-container1">
            <h6 style="background-color:rgb(17, 169, 240) ;color:white text">Units</h6>
            <button type="button" class="btn cancel close" onclick="closeForm1()">X</button>
            <a href="{% url 'unitcreate_alt' %}" style="cursor:pointer" class="btn bt btns_prnt" role="button">Create</a>  
            <hr>
            <div>
                <table>
                    <tr>
                        {% for c in c %}
                            <option onclick="setvalue1('{{c.symbol}}','{{c.id}}')" class="btns_prnt">&nbsp;&nbsp;
                                {{ c.symbol }}  ( {{ c.formal_name }} )
                            </option>
                            <option onclick="setvalue1('{{c.symbol}}','{{c.id}}')" class="btns_prnt">&nbsp;&nbsp;
                                {{ c.symbol }} of {{ conversion }} {{ c.symbol }}
                            </option>
                            <!-- <a onclick="setvalue1('{{c.symbol}} ({{ c.formal_name }})','{{c.id}}')" class="content btn btns_prnt" role="button"
                                style="cursor:pointer">&nbsp;&nbsp;{{ c.symbol }}  ({{ c.formal_name }} )
                            </a> -->
                            <!-- <a onclick="setvalue1('{{c.symbol}} of ({{c.symbol}})','{{c.id}}')" class="content btn btns_prnt" role="button"
                                style="cursor:pointer">&nbsp;&nbsp;{{ c.symbol }} of {{ conversion }} {{ c.symbol }}
                            </a> -->
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <input type="text" name="underhidden1" hidden value="{{c.id}}">
        </form>    
    </div>

    <script>
        function closeForm() {
            document.getElementById("underForm").style.display = "none";
        }
        function showform(){
            document.getElementById('underForm').style.display= "block";
        }
        function setvalue(funit,funitId){
            document.getElementById('funit').value= funit;
            document.getElementById('underForm').style.visibility= "hidden";
            document.getElementsByName('underhidden').value= funitId;
        }
        function closeForm1() {
            document.getElementById("underForm1").style.display = "none";
        }
        function showform1(){
            document.getElementById('underForm1').style.display= "block";
        }
        function setvalue1(sunit,sunitId){
            document.getElementById('sunit').value= sunit;
            document.getElementById('underForm1').style.visibility= "hidden";
            document.getElementsByName('underhidden1').value= sunitId;
        }
    </script>
{% endblock %}